@media all{
    button::-moz-focus-inner{padding:0;border:0;}
    body{min-width:320px;background:#e7e7e7;font-family:Aktiv Grotesk,sans-serif;font-size:20px;line-height:1.55;color:#171a1c;}
    ::selection{background:#3190e9;}
    ::-moz-selection{background:#3190e9;}
    a{color:inherit;}
    a,a:hover{text-decoration:none;}
    h2,h6{margin-bottom:.775em;}
    h2{font-size:32px;font-weight:400;letter-spacing:.12px;line-height:1.41;}
    h6{font-size:13px;}
    p,ul{margin-bottom:1.55em;}
    h6[class],p:last-child,ul:last-child{margin-bottom:0;}
    @media (max-width: 767px){
        body{font-size:17px;line-height:1.55;}
        h2{font-size:26px;line-height:1.4;letter-spacing:.09px;}
    }
    [disabled]{cursor:default;}
    *{padding:0;margin:0;outline:0;-webkit-box-sizing:border-box;box-sizing:border-box;}
    :after,:before{-webkit-box-sizing:inherit;box-sizing:inherit;}
    footer,header,nav,section{display:block;}
    body{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;text-size-adjust:none;}
    iframe,img{max-width:100%;}
    iframe,img{border:0;}
    img{height:auto;display:inline-block;vertical-align:middle;}
    strong{font-weight:700;}
    a,button,input[type=submit],label[for]{cursor:pointer;}
    button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
    input[type=email],input[type=number],input[type=tel],input[type=text]{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
    button,input,select{font-family:inherit;font-size:inherit;color:inherit;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;}
    button,select{text-transform:none;}
    nav ul{list-style:none outside none;}
    .footer{padding:10px 113px 95px 73px;}
    .footer .footer__cols{display:-webkit-box;display:-ms-flexbox;display:flex;margin:0 -18px;font-size:12px;line-height:1.67;color:#a3a6a8;}
    .footer .footer__cols a{color:inherit;text-decoration:underline;}
    .footer .footer__cols a:hover{text-decoration:none;}
    .footer .footer__col{width:33.33%;padding:0 18px;}
    @media (max-width:1025px){
        .footer{padding:10px 90px 95px 50px;}
    }
    @media (max-width:800px){
        .footer{padding-right:50px;}
    }
    @media (max-width:767px){
        .footer{padding-top:0;padding-bottom:75px;}
        .footer .footer__cols{display:block;}
        .footer .footer__col{width:100%;}
        .footer .footer__col+.footer__col{margin-top:25px;}
    }
    .header{padding:55px 73px 50px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;top:0;right:0;left:0;position:absolute;z-index:10;}
    .header{background:transparent;}
    .header .logo{display:inline-block;width:144px;height:52px;background:url(https://altruist.com/wp-content/themes/new-altruist/dist/images/altruist-logo.svg) no-repeat 0 0/contain;}
    .header .logo{background-image:url(https://altruist.com/wp-content/themes/new-altruist/dist/images/altruist-logo.svg);}
    @media (max-width: 1025px){
        .header{padding:50px 50px 45px;}
    }
    @media (max-width: 767px){
        .header{padding:38px 28px 30px;}
        .header .logo{width:109px;height:40px;}
    }
    .main{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:180px 73px 0;height:100vh;max-width:100%;overflow:hidden;}
    @media (min-width:768px) and (max-height:665px){
        .main:not(.main--careers){height:665px;}
    }
    @media (max-width: 1025px){
        .main{padding:147px 50px 0;}
    }
    @media (max-width: 767px){
        .main{padding:0 28px;display:block;position:relative;}
    }
    .wrapper{overflow:hidden;position:relative;min-height:100vh;}
    .btn{display:inline-block;vertical-align:middle;text-align:center;cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-box-shadow:none;box-shadow:none;border-radius:2px;background:#00946a;font-size:16px;color:#fff;padding:13px 34px;-webkit-transition:background .2s;-o-transition:background .2s;transition:background .2s;text-decoration:underline;}
    .btn:hover{background:#00ab7b;}
    @media (max-width: 767px){
        .btn{font-size:15px;padding:12px 30px;}
    }
    .form{width:100%;padding-bottom:103px;}
    .form input{width:100%;height:68px;line-height:68px;padding:0 25px;border-radius:2px;background:#fff;font-size:15px;color:#474e51;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:1px solid #6e7d7e;-webkit-transition:border-color .14s cubic-bezier(.4,0,1,1);-o-transition:border-color .14s cubic-bezier(.4,0,1,1);transition:border-color .14s cubic-bezier(.4,0,1,1);}
    .form input:active,.form input:focus{color:#474e51;}
    .form input:hover{border-color:#dadede;}
    .form input:focus{border-color:#6e7d7e;}
    .menu{display:none;position:fixed;top:0;left:-100%;width:100%;height:100vh;background:#fff;z-index:99;overflow-y:auto;-webkit-transition:left .4s .5s;-o-transition:left .4s .5s;transition:left .4s .5s;}
    .menu .menu__head{opacity:0;-webkit-transform:translateY(20px);-ms-transform:translateY(20px);transform:translateY(20px);padding:55px 73px 50px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-transition:opacity .35s .05s,-webkit-transform .35s .05s;transition:opacity .35s .05s,-webkit-transform .35s .05s;-o-transition:transform .35s .05s,opacity .35s .05s;transition:transform .35s .05s,opacity .35s .05s;transition:transform .35s .05s,opacity .35s .05s,-webkit-transform .35s .05s;}
    .menu .menu__logo{display:inline-block;width:144px;height:52px;}
    .menu .nav-trigger{color:#171a1c;}
    .menu .nav-trigger:after,.menu .nav-trigger:before{background:#171a1c;}
    .menu .menu__body{height:calc(100vh - 265px);padding:23px 73px 0;overflow-x:hidden;overflow-y:auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;}
    .menu .nav ul li,.menu .socials ul li{opacity:0;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px);-webkit-transition:opacity .3s,-webkit-transform .3s;transition:opacity .3s,-webkit-transform .3s;-o-transition:transform .3s,opacity .3s;transition:transform .3s,opacity .3s;transition:transform .3s,opacity .3s,-webkit-transform .3s;}
    .menu .menu__foot{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:10px 73px;opacity:1;}
    @media (max-width: 1025px){
        .menu .menu__foot{padding:0 50px;}
        .menu .menu__head{padding:50px 50px 45px;}
        .menu .menu__body{height:calc(100vh - 265px);padding:0 50px;}
    }
    @media (max-width: 767px){
        .menu{display:block;-webkit-overflow-scrolling:touch;padding-bottom:100px;}
        .menu .menu__head{padding:38px 28px 30px;}
        .menu .menu__logo{width:109px;height:40px;}
        .menu .menu__body{padding:0 28px;height:auto;min-height:273px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;position:relative;}
        .menu .nav{display:block;}
        .menu .menu__foot{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;width:100%;padding:10px 28px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;}
        .menu .menu__popup{position:absolute;left:25px;right:25px;bottom:0;padding-bottom:20px;margin-bottom:78px;visibility:hidden;opacity:0;-webkit-transition:visibility .3s,opacity .3s;-o-transition:visibility .3s,opacity .3s;transition:visibility .3s,opacity .3s;}
        .menu .menu__popup-inner{background:#f3f3f3;padding:31px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:14px;font-weight:500;color:#474e51;border-radius:2px;}
        .menu .menu__popup-inner p{margin:0 15px 0 0;position:relative;padding-left:27px;}
        .menu .menu__popup-inner .btn{font-size:14px;font-weight:500;background:#3190e9;padding:25px 46px;}
        .menu .menu__popup-inner .btn:hover{background:#379cfc;text-decoration:underline;}
    }
    @media (max-width:419px){
        .menu{padding-bottom:50px;}
        .menu .menu__popup-inner p{margin:0 0 28px;}
    }
    .nav{margin-left:auto;}
    .nav ul{font-size:0;}
    .nav ul li{display:inline-block;margin-right:42px;}
    .nav ul li:last-child{margin-right:0;}
    .nav ul li a{display:block;font-size:16px;text-decoration:none;color:#474e51;-webkit-transition:opacity .3s;-o-transition:opacity .3s;transition:opacity .3s;}
    .nav ul li:hover>a{opacity:.5;}
    .nav-trigger{display:none;position:relative;font-size:20px;overflow:hidden;}
    .nav-trigger:before{left:0;}
    .nav-trigger:after,.nav-trigger:before{content:"";position:absolute;bottom:4px;width:100%;height:2px;background:#161819;-webkit-transition:left .6s;-o-transition:left .6s;transition:left .6s;}
    .nav-trigger:after{left:-200%;}
    .nav-trigger:hover:before{left:200%;}
    .nav-trigger:hover:after{left:0;}
    .nav-utilities ul{list-style:none outside none;overflow:hidden;}
    .nav-utilities ul li{float:left;margin-right:40px;}
    .nav-utilities ul li a{display:block;-webkit-transition:color .3s;-o-transition:color .3s;transition:color .3s;}
    .nav-utilities ul li a:hover{color:#171a1c;}
    @media (max-width: 767px){
        .nav{display:none;margin-left:0;}
        .nav ul li{display:block;margin:0 0 10px;}
        .nav ul li a{font-size:39px;letter-spacing:-.6px;color:#171a1c;}
        .nav-trigger{font-size:15px;display:block;}
        .nav-utilities{width:100%;text-align:left;}
        .nav-utilities ul li{float:none;margin-right:0;margin-bottom:14px;}
    }
    @media (max-width:419px){
        .nav ul li{margin-bottom:19px;}
    }
    .section-form{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:180px 73px 70px;}
    .section-form .section__bottom{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;font-size:15px;color:#8f9ba0;}
    .section-form .section__bottom .copyright{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;}
    .section-form .section__bottom .copyright p{margin-right:40px;}
    @media (max-width: 1025px){
        .section-form{padding:147px 50px 70px;}
    }
    @media (max-width: 767px){
        .section-form{padding:120px 49px 50px;}
        .copyright{-webkit-box-pack:start!important;-ms-flex-pack:start!important;justify-content:flex-start!important;}
    }
    .socials ul{list-style:none;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;}
    .socials ul a{text-decoration:none;}
    .socials ul a:hover{opacity:.8;}
    .socials ul li+li{margin-left:30px;}
    @media (max-width: 767px){
        .socials ul{display:block;}
        .socials ul li{margin:0 0 9px!important;}
        .socials ul li a{font-size:15px;color:#474e51;}
    }
    input::-webkit-input-placeholder{color:inherit;opacity:1;}
    input::-moz-placeholder{color:inherit;opacity:1;}
    input:-ms-input-placeholder{color:inherit;opacity:1;}
    input::-ms-input-placeholder{color:inherit;opacity:1;}
    input::placeholder{color:inherit;opacity:1;}
}
/*! CSS Used from: https://altruist.com/wp-content/themes/new-altruist/style.css?ver=1606360537 ; media=all */
@media all{
    .nav ul li:hover > a{opacity:0.5;}
    .header .logo{background:url(https://altruist.com/wp-content/themes/new-altruist/resources/images/altruist-logo.svg) no-repeat 0 0 / contain;width:157px;height:55px;}
    .header .logo{background-image:url(https://altruist.com/wp-content/themes/new-altruist/resources/images/altruist-logo.svg);}
    .copyright{display:flex;justify-content:center;flex-wrap:wrap;flex-direction:row;}
    @media all and (max-width: 767px){
        .copyright{justify-content:flex-start;}
    }
    .copyright p{margin-right:40px;}
    .page-template-two-column-form-page{position:relative;overflow-x:hidden;}
    .page-template-two-column-form-page .main--application{height:inherit!important;padding-top:195px;}
    .section-application{margin:0 auto;}
    .hbspt-form{width:100%;max-width:637px;}
    .page-template-two-column-form-page .page-center{display:block;max-width:1100px;margin:0 auto!important;padding:0 20px;width:100%;float:none!important;padding:0;}
    .page-id-623 .page-center{max-width:1200px;}
    .page-id-623 .flex .section__column:first-child p{font-size:14px;max-width:247px;line-height:24px;color:#474e51;margin-bottom:50px;}
    .page-id-623 .flex .section__column .disclaimer{font-size:12px;max-width:637px;margin:0;color:#7e8385;margin-top:60px;line-height:22px;}
    .flex{display:block;}
    .flex .section__column:first-child{flex:0 100%;}
    .flex .section__column:last-child{flex:0 100%;}
    @media all and (min-width: 767px){
        .flex{display:flex;justify-content:center;align-items:flex-start;align-content:center;}
        .flex .section__column:first-child{flex:0 220px;margin-right:70px;}
        .page-id-623 .flex .section__column:first-child{flex:0 26%;margin-right:50px;}
        .flex .section__column:last-child{flex:0 710px;}
    }
    .page-id-623 .hbspt-form{width:100%;max-width:637px;}
    @media all and (min-width: 767px){
        .page-template-two-column-form-page .page-center{padding:0 25px 0;}
    }
    .page-template-two-column-form-page h2{font-family:Begum, serif;font-size:38px;line-height:44px;letter-spacing:-1px;font-weight:500;margin-bottom:40px!important;display:block;padding-right:80px;}
    @media all and (min-width: 767px){
        .page-template-two-column-form-page h2{padding-right:0;}
    }
    @media all and (min-width: 850px){
        .page-template-two-column-form-page h2{font-size:42px;}
    }
    .page-template-two-column-form-page .form.flex{display:flex;justify-content:center;padding:0;flex-direction:column;}
    @media all and (min-width: 768px){
        .page-template-two-column-form-page .form.flex{padding:0 0 0 30px;}
    }
    .page-template-two-column-form-page .form strong{font-weight:500;}
    .page-template-two-column-form-page fieldset{max-width:100%!important;}
    @media all and (min-width: 768px){
        .page-template-two-column-form-page fieldset{max-width:700px!important;}
    }
    .page-template-two-column-form-page .hs-form-field{display:-webkit-flex;display:flex;flex-direction:column;}
    .page-template-two-column-form-page .form-columns-2 .hs-form-field{width:100%!important;}
    @media all and (min-width: 600px){
        .page-template-two-column-form-page .form-columns-2 .hs-form-field{width:46%!important;}
        input#zip-6d7c4690-2d7c-4806-9a70-acab90ac6194{width:47%!important;}
    }
    .page-template-two-column-form-page .form-columns-2 .input{margin:0!important;}
    .page-template-two-column-form-page .hs_firstname label,.page-template-two-column-form-page .hs_lastname label{display:none;}
    .page-template-two-column-form-page .form-columns-2 .field:first-child,.page-template-two-column-form-page .hs_firstname{margin-right:0;}
    .page-template-two-column-form-page .hs_firstname{margin-bottom:20px;}
    @media all and (min-width: 600px){
        .page-template-two-column-form-page .form-columns-2 .field:first-child,.page-template-two-column-form-page .hs_firstname{margin-right:8%;}
        .page-template-two-column-form-page .hs_firstname{margin-bottom:0;}
    }
    @media all and (min-width: 914px){
        .page-template-two-column-form-page .form-columns-2 .field:first-child,.page-template-two-column-form-page .hs_firstname{margin-right:40px;}
    }
    .page-template-two-column-form-page label{order:1;margin-bottom:30px;margin-top:70px;}
    .page-template-two-column-form-page .hs-field-desc{order:4;font-family:Aktiv Grotesk, sans-serif;font-weight:400;font-style:normal;font-size:12px;line-height:21px;letter-spacing:0.2px;color:#919597;margin-top:15px;}
    .page-template-two-column-form-page .input{order:2;}
    .page-template-two-column-form-page input.hs-input,.page-template-two-column-form-page select{width:100%!important;height:68px;line-height:normal;padding:0 25px;border-radius:3px;background:#fff;font-size:15px;color:#474e51;border:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:1px solid #cacaca;-webkit-transition:border-color 0.14s cubic-bezier(0.4, 0, 1, 1);-o-transition:border-color 0.14s cubic-bezier(0.4, 0, 1, 1);transition:border-color 0.14s cubic-bezier(0.4, 0, 1, 1);}
    .page-template-two-column-form-page select{vertical-align:middle;background:#fff url('https://altruist.com/m/drop-down.jpg') no-repeat right     1.25rem center;background-size:12px 6px;-webkit-appearance:none;-moz-appearance:none;appearance:none;padding-right:36px;}
    .page-template-two-column-form-page select:invalid{color:#cacaca!important;}
    .page-template-two-column-form-page input.hs-input:hover{border-color:#dadede;}
    .page-template-two-column-form-page input.hs-input:focus{border-color:#6e7d7e;}
    .page-template-two-column-form-page input.hs-input:active,.page-template-two-column-form-page input.hs-input:focus{color:#474e51;}
    .page-template-two-column-form-page .form .hs_submit.hs-submit input{font-family:Aktiv Grotesk, sans-serif;font-weight:500;font-style:normal;display:inline-block;width:100%;max-width:300px;height:106px;border-radius:3px;background:#00946a;line-height:106px;text-align:center;padding:0 15px;font-size:20px;color:#fff;letter-spacing:0.5px;-webkit-transition:0.2s;-o-transition:0.2s;transition:0.2s;border:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;text-decoration:underline;margin-top:50px;}
    @media all and (min-width: 600px){
        .page-template-two-column-form-page .form .hs_submit.hs-submit input{float:right;margin-top:100px;}
    }
    .page-template-two-column-form-page .form .hs_submit.hs-submit input:hover{background:#00ab7b;}
    .page-id-623 .form .hs_submit.hs-submit input{background-color:#3190e9;}
    .page-id-623 .form .hs_submit.hs-submit input:hover{background:rgba(60, 158, 255, 0.8);color:#fff;}
    .page-template-two-column-form-page .hs-richtext{margin-bottom:30px;}
    .page-template-two-column-form-page .hs-richtext p,.page-template-two-column-form-page label span{font-family:Aktiv Grotesk, sans-serif;font-size:15px;line-height:23px;color:#474e51;}
    .menu__popup p a.link{color:#00946a;text-decoration:underline;}
    @media all and (max-width: 555px){
        .menu .menu__popup-inner p{padding:0;margin-top:25px;display:block;width:100%;}
    }
    @media all and (max-width: 767px){
        .main{ display:flex;
            padding-top:120px;
        }
    }
    @media (min-width: 768px){
        .advisors--link > a{pointer-events:none;}
        .nav ul li.advisors--link a::after{content:url(https://cdn2.hubspot.net/hubfs/4826914/assets/images/Vector.svg);display:inline-block;-webkit-font-smoothing:antialiased;margin-left:10px;transition:all 0.4s ease;position:relative;top:0px;}
        .nav ul li{padding:40px 0;}
        .header{padding:31px 73px 50px;}
    }
    #MegaMenu{overflow:hidden;transition:all 0.7s ease-out;background:#f6f6f6;width:100%;z-index:3;}
    #MegaBlock{max-width:1195px;}
    .grid{margin:0px auto!important;max-width:1276px;text-align:center;font-size:0px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-top:60px;padding-bottom:60px;padding:0 31px;}
    .grid__item{display:inline-block;vertical-align:top;margin-left:1.75%!important;margin-right:1.75%!important;padding-top:60px;padding-bottom:60px;}
    .eleven-twelfths.grid__item{width:88.166664%!important;}
    .one-whole.hard.grid__item{width:100%!important;}
    .one-half.grid__item{width:46.5%!important;}
    .hard,.hard--ends{padding-bottom:0px!important;margin-bottom:0px!important;}
    .hard{padding-left:0px!important;margin-left:0px!important;}
    .hard{padding-right:0px!important;margin-right:0px!important;}
    .hard,.hard--ends{padding-top:0px!important;margin-top:0px!important;}
    .megamenu--container .grid__item{padding-top:85px;padding-bottom:85px;}
    .megamenu--container .border-right .mega--menu--wrapper{border-right:0.25px solid #e7e7e7;}
    .megamenu--container .mega--menu--wrapper{transition:all 0.7s ease-out;}
    .megaMenu--headline{text-align:left;max-width:258px;margin:0 auto;font-family:'Aktiv Grotesk', sans-serif;font-style:normal;font-weight:normal;font-size:16px;line-height:31px;color:#171a1c;text-transform:none;}
    .megaMenu--copy{text-align:left;max-width:258px;margin:0 auto;}
    .megaMenu--copy p{color:#474e51;font-family:Aktiv Grotesk;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:0.2px;margin-bottom:29px;margin-top:25px;}
    .megaMenu--cta{text-align:left;max-width:258px;margin:0 auto;}
    .btn.megaMenu--btn{font-weight:500;font-size:14px;line-height:14px;padding:21px;display:block!important;letter-spacing:-0.2px;font-style:normal;border-radius:2px;border:0;}
    .btn.megaMenu--btn.grow{background:#474e51;}
    .btn.megaMenu--btn.grow:hover{background:#7e8385;}
    .mega-menuized > ul{display:none;}
    .mega-menu-branch{position:absolute!important;left:0;right:0;top:130px;z-index:98;opacity:0;visibility:hidden;pointer-events:none;transition:0.3s ease-in-out;}
    @media (max-width: 767px){
        .nav ul li a{opacity:1!important;}
        .nav ul li.advisors--link > a::after{content:url(https://cdn2.hubspot.net/hubfs/4826914/assets/images/ArrowDown.svg);display:inline-block;-webkit-font-smoothing:antialiased;font:normal 16px/1 'dashicons';margin-left:20px;transition:all 0.4s ease;margin-top:3px;vertical-align:middle;}
        .nav .sub-menu{margin-top:30px;margin-bottom:45px;}
        .nav .sub-menu .mobile-only a{font-weight:normal;font-size:24px;color:#7e8385;padding-left:30px;}
        .menu .menu__body{min-height:calc(100vh - 250px);min-height:inherit;margin-top:0;height:auto;}
        .menu .nav{display:block;margin-top:50px;}
        .header .logo{width:109px;height:40px;}
    }
}

/*! CSS Used fontfaces */
@font-face{font-family:Aktiv Grotesk;src:local("Aktiv Grotesk"),local("AktivGrotesk-Regular"),url(fonts/AktivGrotesk-Regular.woff2) format("woff2"),url(fonts/AktivGrotesk-Regular.woff) format("woff"),url(https://altruist.com/wp-content/themes/new-altruist/dist/fonts/AktivGrotesk-Regular.svg) format("svg");font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:Aktiv Grotesk;src:local("Aktiv Grotesk Medium"),local("AktivGrotesk-Medium"),url(fonts/AktivGrotesk-Medium.woff2) format("woff2"),url(/fonts/AktivGrotesk-Medium.woff) format("woff"),url(https://altruist.com/wp-content/themes/new-altruist/dist/fonts/AktivGrotesk-Medium.svg) format("svg");font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:Begum;src:local("Begum-Medium"),local("Begum-Medium"),url(fonts/Begum-Medium.woff2) format("woff2"),url(fonts/Begum-Medium.woff) format("woff"),url(https://altruist.com/wp-content/themes/new-altruist/dist/fonts/Begum-Medium.svg) format("svg");font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:Begum;src:url(fonts/begum-regular-webfont.woff2) format("woff2"),url(fonts/begum-regular-webfont.woff) format("woff");font-weight:400;font-style:normal;font-display:swap;}

.submit-form{
    padding-top: 20px;
    text-align: right;
}
